.navbar {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
  }
  
  .navbar__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
  }
  
  .navbar__logo {
    color: #fff; /* Set your desired text color */
    font-size: 42px; /* Set your desired font size */
    font-family: "Monotype Corsiva", "Courier New", monospace;
  }

  @media (max-width: 768px) {
    .navbar__logo {
      font-size: 36px; /* Update font size for smaller screens */
    }
  }
  